---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}

<main class="my-4">
    <div class="container">
        <h1 class="display-5">{{ title }}</h1>
        <hr class="my-4">
        {% assign rows = content | split:"@row" %}
        {% for row in rows %}
          <div class="row" id="row-{{ forloop.index }}">

            {% assign columns = row | split:"@column" %}
              {% for column in columns %}
                <div class="col-sm-{{ 12 | divided_by:forloop.length }}">
                  {{ column }}
                </div>
              {% endfor %}

          </div>
          <br>
        {% endfor %}
    </div>
</main>

{% include footer.html %}
